body {
  font-family: sans-serif;
  color: #444;
  max-width: 1240px;
  margin: 0 auto;
  background-color: aliceblue;
}

header {
  text-align: center;
}

header h2 {
  font-size: 2em;
}

header p {
  font-size: 1.25em;
  margin-bottom: 50px;
}

label {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-top: 40px;
}

select {
  font-size: 16px;
  padding: 10px 100px 10px 10px;
  margin-bottom: 40px;
}

.submit {
  font-size: 16px;
  padding: 10px 20px;
  color: whitesmoke;
  background-color: rgb(45, 45, 118);
}
